<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Teléfonos - 1</title>
  </head>
  <body>
    <h5>Listado de Casa - {{numero}}</h5>

    {% for e in datos %}

    <ol>
      <li><b>Nombre: </b>{{e['propietario_nombre']}}</li>
      <li><b>direccion: </b>{{e['direccion']}}</li>
      <li><b>Barrio: </b>{{e['barrio']}}</li>
      <li><b>Cuartos: </b>{{e['num_cuarto']}}</li>
      <li><b>Pisos: </b>{{e['num_pisos']}}</li>
      <li><b>Color: </b>{{e['color_inmueble']}}</li>
      <li><b>Csoto: </b>{{e['valor_bien']}}</li>

    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
