{% extends "master.html" %}


{% block title %}
  Listado de casas | {{ block.super }}
{% endblock %}

{% block content %}


<table id="tabla_datos">

  <thead>
  
    <tr>
      <th>Propietario</th>
      <th>Direccion</th>
      <th>barrio</th>
      <th>valor_bien </th>
      <th>Color</th>
      <th>Cuartos</th>
      <th>pisos</th>

    </tr>
  </thead>


  {% for e in casas %}
  <tr> 
    <td> Nombre: {{e.propietario_nombre.nombres}} {{e.propietario_nombre.apellidos}} 
      <br> Cedula: {{e.propietario_nombre.cedula}}
      <br> Correo: {{e.propietario_nombre.correo}}
    </td>
    <td> {{e.direccion}} </td>
    <td> Nombre: {{e.barrio.nombre_barrio}}
      <br> Siglas: {{e.barrio.siglas}}
    </td>
    <td> {{e.valor_bien}}</td>
    <td> {{e.color_inmueble}}</td>
    <td> {{e.num_cuarto}}</td>
    <td> {{e.num_pisos}}</td>

    <td> <a></a> <br>
      <a href="{% url 'editar_casa' e.id %}">editar</a><i class="fas fa-eye text-success fa-lg  mr-2"></i><br>
      <a href="{% url 'eliminar_casa' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      <i class="fas fa-eye text-success fa-lg  mr-2"></i>
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>

{% endblock %}
