{% extends "master.html" %}


{% block title %}
  Listado de departamentos | {{ block.super }}
{% endblock %}

{% block content %}


<table id="tabla_datos">

  <thead>
  
    <tr>
      <th>Propietario</th> 
      <th>Direccion</th>
      <th>Barrio</th>
      <th>Costo del Bien </th>
      <th>Cuartos </th>
      <th>Costo mensual </th>

    </tr>
  </thead>

  {% for e in departamentos %}
  <tr>
    <td> Nombre: {{e.propietario_nombre.nombres}} {{e.propietario_nombre.apellidos}}
    <br> Cedula: {{e.propietario_nombre.cedula}}
    <br> Correo: {{e.propietario_nombre.correo}}

    </td>
    <td> {{e.direccion}} </td>
    <td> Nombre: {{e.barrio.nombre_barrio}}
      <br> Siglas: {{e.barrio.siglas}}
    </td>
    <td> {{e.valor_bien}}</td>
    <td> {{e.num_cuarto}}</td>
    <td> {{e.valor_mensual}}</td>
    <td>

        
    </td>
    <td> <a></a> <br>
      <a href="{% url 'editar_departamento' e.id %}">editar </a><i class="fas fa-eye text-success fa-lg  mr-2"></i> <br>
      <a href="{% url 'eliminar_departamento' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      <i class="fas fa-eye text-success fa-lg  mr-2"></i>
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>

{% endblock %}
